@model CentralLibrary.ViewModels.User.RegisterConfirmationViewModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="cta section container">
    <div class="cta-inner section-inner justify-content-center">
        <div class="row">
            <h1>@ViewData["Title"]</h1>
            <div class="form-group">
                <div class="row">
                    @if (Model.DisplayConfirmAccountLink)
                    {
                        <p>
                            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                            Normally this would be emailed: <a id="confirm-link" asp-action="ConfirmEmail" asp-controller="User" asp-route-userId="@Model.UserId" asp-route-code="@Model.Code">Click here to confirm your account</a>
                        </p>
                    }
                    else
                    {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    }
                </div>

            </div>
        </div>
        
    </div>
</div>


