@using Microsoft.AspNetCore.Identity
@using Repository.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav mt-0">
    <li class="nav-item">
        <a class="nav-link text-white pt-1">You're logged as <b>@User.Identity?.Name!</b></a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-danger text-white">Log Out</button>
        </form>
    </li>
</ul>
